<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gsudo" />
  <package id="bat" />
  <!-- For exa (substitue of ls) it requires cargo install exa for now -->
  <package id="less" />
  <package id="ripgrep" />
  <package id="cmdermini" />
  <package id="starship" />
  <package id="starship.install" />
  <package id="neovim" />
  <package id="act-cli" /><!-- To test github CI/CD locally -->
  <package id="cmake" />
  <package id="cmake.install" />
  <package id="mingw" />
  <package id="python" />
</packages>
