[core]
	editor = nvim
[user]
	email = {{ .email | quote }}
	name = Tangtang Zhou
[alias]
	pfl = push --force-with-lease
	log1l = log --oneline
[push]
	default = current
	autoSetupRemote = true
[pull]
  rebase = true
[credential "helperselector"]
	selected = manager
[init]
	defaultBranch = main
